# -------------------------
# Python cache files
# -------------------------

__pycache__/
*.py[cod]
*$py.class


# -------------------------
# Virtual environments
# -------------------------

.venv/
venv/
env/


# -------------------------
# PyInstaller
# -------------------------

build/
dist/
windows/
*.spec


# -------------------------
# Compiled applications
# -------------------------

*.exe
*.dll


# -------------------------
# IDE files
# -------------------------

.vscode/
.idea/


# -------------------------
# OS files
# -------------------------

.DS_Store
Thumbs.db


# -------------------------
# Logs / temporary files
# -------------------------

*.log
*.tmp


# -------------------------
# Test / coverage
# -------------------------

.pytest_cache/
.coverage
htmlcov/